In [ ]:
# I wanted to use the exoplanet data set to plan a mission to explore possible planets to settle. 
# In order to increase efficiency, I have chosen to visit a star system with multiple planets to increase chances of 
# finding a suitable location.

In [32]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
df = pd.read_csv('kepler.csv')

In [47]:
#Shows how many planets are orbiting the star.
starname = "star_name"


print(df[starname].value_counts())

Kepler-90             8
TRAPPIST-1            7
Kepler-80             6
GJ 667 C              6
HD 219134             6
HD 10180              6
HD 40307              6
Kepler-20             6
Kepler-11             6
HD 34445              6
HIP 41378             5
Kepler-296            5
Kepler-186            5
Kepler-444            5
Kepler-84             5
Kepler-154            5
Kepler-169            5
Kepler-150            5
55 Cnc                5
Kepler-102            5
Kepler-62             5
Kepler-238            5
Kepler-33             5
Kepler-292            5
Kepler-55             5
mu Ara                4
Kepler-223            4
Kepler-235            4
HR 8799               4
ups And               4
                     ..
HAT-P-40              1
HIP 109600            1
Kepler-919            1
51 Peg                1
YBP1194               1
GJ 3634               1
Kepler-1373           1
Kepler-574            1
WASP-142              1
HD 130322             1
Kepler-677            1
Kepler-1273           1
Kepler-1261           1
Kepler-504            1
Kepler-875            1
HD 41004 A            1
Kepler-740            1
2M 0746+20            1
Kepler-491            1
HATS-8                1
Kepler-1133           1
Kepler-1381           1
WASP-90               1
WASP-86               1
OGLE-2017-BLG-1434    1
EPIC 213715787        1
Kepler-4              1
Kepler-1525           1
Kepler-1401           1
Kepler-1425           1
Name: star_name, Length: 2793, dtype: int64

In [77]:
# Thats way to many stars to choose from. Lets narrow it down.


#create columns for star and number of planets
starname = "star_name"

dflightyear = df['star_distance'].apply(lambda x: x * 3.262)

planets = (df[starname].value_counts())

#remove stars with less than 5 planets
greaterthanfive = df[(df['number_planets'] >= 5)]

# Include star distance from our Sun 
greaterthanfive = (greaterthanfive.drop_duplicates('star_name')[['star_name', 'number_planets', 'star_distance']])

#Drop Nan values 
print (greaterthanfive.dropna() )

       star_name  number_planets  star_distance
38        55 Cnc               5          12.34
221     GJ 667 C               6           6.84
363     HD 10180               6          39.40
660    HD 219134               6           6.55
727     HD 34445               6          46.50
751     HD 40307               6          12.80
908    HIP 41378               5         116.00
1980  Kepler-186               5         151.00
2020   Kepler-20               6         290.00
3495  TRAPPIST-1               7          12.10