In [6]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')
from sklearn import preprocessing

In [3]:
df = pd.read_excel('Desktop/python stuff/my-notebook/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls',
                  header= 3)

In [27]:
#df = df.drop([0,0])

df = df.fillna(0)
df = df.rename(columns={'by City, 2013':'city',
                       'Unnamed: 1':'population', 
                       'Unnamed: 2':'violent_crime', 
                       'Unnamed: 3':'murder', 
                       'Unnamed: 4':'rape_def1', 
                       'Unnamed: 5':'rape_def2', 
                       'Unnamed: 6':'robbery', 
                       'Unnamed: 7':'aggravated_assault', 
                       'Unnamed: 8':'property_crime', 
                       'Unnamed: 9':'burglary', 
                       'Unnamed: 10':'larceny_theft',
                       'Unnamed: 11':'motor_theft',
                       'Unnamed: 12':'arson',
                       })

In [28]:
df.head(5)

,city,population,violent_crime,murder,rape_def1,rape_def2,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_theft,arson,robbery_enc,murder_enc
1,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0,0,0
2,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0,0,0
3,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0,0,0
4,Albany,97956,791,8,0,30,44,526,4090,705,3243,142,0,1,1
5,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0,1,0

In [38]:
pop = df['population']
pop_sqr = pop * pop
murder = df['murder']
robbery = df['robbery']
b = 0

In [39]:
property_crime = b + pop + pop_sqr + murder + robbery

In [7]:
df.shape

(351, 13)

In [8]:
df.columns

Index(['city', 'population', 'violent_crime', 'murder', 'rape_def1',
       'rape_def2', 'robbery', 'aggravated_assault', 'property_crime',
       'burglary', 'larceny_theft', 'motor_theft', 'arson'],
      dtype='object')

In [13]:
df.dtypes

city                  object
population            object
violent_crime         object
murder                object
rape_def1             object
rape_def2             object
robbery               object
aggravated_assault    object
property_crime        object
burglary              object
larceny_theft         object
motor_theft           object
arson                 object
dtype: object

In [40]:
#encode robbery and murder and make new columns

df['robbery_enc'] = np.where(df['robbery']>0,'1','0')
df['murder_enc'] = np.where(df['murder']>0,'1','0')

In [34]:
df_2 = df.drop(['murder', 'robbery'], axis=1)
df_2 = df_2.fillna(0)

In [35]:
#OneHotEncoder

enc = preprocessing.OneHotEncoder()

enc.fit(df_2)

onehotlabels = enc.transform(df_2).toarray()
onehotlabels.shape

(351, 1540)