In [158]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

In [213]:
df = pd.read_excel('Desktop/python stuff/my-notebook/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls',
                  header= 3)

In [215]:
df = df.drop([0,0])
df = df.rename(columns={'by City, 2013':'city',
                       'Unnamed: 1':'population', 
                       'Unnamed: 2':'violent_crime', 
                       'Unnamed: 3':'murder', 
                       'Unnamed: 4':'rape_def1', 
                       'Unnamed: 5':'rape_def2', 
                       'Unnamed: 6':'robbery', 
                       'Unnamed: 7':'aggravated_assault', 
                       'Unnamed: 8':'property_crime', 
                       'Unnamed: 9':'burglary', 
                       'Unnamed: 10':'larceny_theft',
                       'Unnamed: 11':'motor_theft',
                       'Unnamed: 12':'arson',
                       })

city
population
violent_crime
murder
rape_def1
rape_def2
robbery
aggravated_assault
property_crime
burglary
larceny_theft
motor_theft
arson

,city,population,violent_crime,murder,rape_def1,rape_def2,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_theft,arson
1,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
5,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
6,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
7,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
8,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
9,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
10,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
11,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
12,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
13,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
14,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
15,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
16,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
17,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
18,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
19,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
20,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
21,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
22,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
23,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
24,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
25,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
26,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
27,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
28,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
29,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
30,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
323,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
324,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
325,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
326,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
327,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
328,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
329,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
330,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
331,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
332,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
333,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
334,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
335,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
336,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
337,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
338,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
339,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
340,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
341,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
342,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
343,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
344,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
345,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
346,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
347,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
348,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
349,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
pop = df['population']
pop_sqr = pop * pop
murder = df['murder']
robbery = df['robbery']

In [189]:
property_crime = pop + pop_sqr + murder + robbery
property_crime

1          3465182
2          6643506
3          8102562
4       9595476127
5         40812936
6         16724013
7          3173742
8      13994061944
9         90620884
10       330603318
11         4216862
12        20462055
13          433622
14         6363006
15       743680193
16        11112223
17        55853203
18        29360145
19       236375263
20        32873025
21       310728757
22      1172617295
23      2144106824
24         1989510
25       144036002
26         1045506
27         5407950
28         4220970
29         4266291
30         5562522
          ...
322     3805224391
323      782908386
324       47437658
325      780671556
326        9075156
327       11926662
328       33971413
329       70434056
330       26785803
331      794084236
332      104970282
333        3468906
334       18813907
335     1916469509
336        3231006
337       20926050
338        3001556
339     2008966872
340        6783420
341     3313096069
342       13939022
343       83567022
344      114179912
345         688070
346       35182692
347    39654549486
348     1342746094
349            NaN
350            NaN
351            NaN
Length: 351, dtype: object