<a href="https://colab.research.google.com/github/penningtron/Thinkful-Projects/blob/master/reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')
from sklearn import preprocessing

In [0]:
df = pd.read_excel('/content/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls',
                  header= 3)

In [0]:
df = df.drop([0,0])



df = df.fillna(0)
df = df.rename(columns={'by City, 2013':'city',
                       'Unnamed: 1':'population', 
                       'Unnamed: 2':'violent_crime', 
                       'Unnamed: 3':'murder', 
                       'Unnamed: 4':'rape_def1', 
                       'Unnamed: 5':'rape_def2', 
                       'Unnamed: 6':'robbery', 
                       'Unnamed: 7':'aggravated_assault', 
                       'Unnamed: 8':'property_crime', 
                       'Unnamed: 9':'burglary', 
                       'Unnamed: 10':'larceny_theft',
                       'Unnamed: 11':'motor_theft',
                       'Unnamed: 12':'arson',
                       })
df.head(5)

                       city  population  ...  motor_theft  arson
1             Adams Village        1861  ...            0      0
2  Addison Town and Village        2577  ...            1      0
3             Akron Village        2846  ...            0      0
4                    Albany       97956  ...          142      0
5            Albion Village        6388  ...            5      0

[5 rows x 13 columns]

In [0]:
df_clean = df.drop(columns=['city'])

df_clean.head(5)

   population  violent_crime  murder  ...  larceny_theft  motor_theft  arson
1        1861              0       0  ...             10            0      0
2        2577              3       0  ...             20            1      0
3        2846              3       0  ...             15            0      0
4       97956            791       8  ...           3243          142      0
5        6388             23       0  ...            165            5      0

[5 rows x 12 columns]

In [0]:
pop = df['population']
pop_sqr = pop * pop
murder = df['murder']
robbery = df['robbery']
b = 0

In [0]:
#set target
target = df.property_crime

In [0]:
x = df_clean
y = target

In [0]:


lm = linear_model.LinearRegression()
model = lm.fit(x,y)

In [0]:
predictions = lm.predict(x)
print(predictions)[0:5]

[1.20000000e+01 2.40000000e+01 1.60000000e+01 4.09000000e+03
 2.23000000e+02 4.60000000e+01 1.00000000e+01 2.11800000e+03
 2.10000000e+02 4.05000000e+02 3.90000000e+01 3.30000000e+01
 2.00000000e+00 5.00000000e+00 8.59000000e+02 2.50000000e+01
 8.80000000e+01 9.40000000e+01 5.59000000e+02 1.91000000e+02
 1.56000000e+02 4.42000000e+02 2.34900000e+03 1.40000000e+01
 9.90000000e+01 4.00000000e+00 2.40000000e+01 2.00000000e+01
 3.10000000e+01 1.30000000e+01 1.10000000e+01 7.93000000e+02
 1.65000000e+02 4.70000000e+01 1.00000000e+01 1.24910000e+04
 1.50000000e+01 4.40000000e+01 4.60000000e+01 3.48000000e+02
 3.15000000e+02 6.00000000e+01 1.20000000e+01 9.30000000e+01
 2.00000000e+00 1.98000000e+02 8.00000000e+00 6.00000000e+01
 4.00000000e+00 5.90000000e+01 5.80000000e+01 5.30000000e+01
 3.20000000e+01 2.68900000e+03 2.50000000e+01 6.50000000e+01
 4.40000000e+02 1.51500000e+03 6.00000000e+01 2.18000000e+02
 8.60000000e+01 2.43000000e+02 1.99000000e+03 1.60000000e+01
 4.16000000e+02 2.20000000e+01 4.20000000e+01 3.98000000e+02
 1.13000000e+02 5.30000000e+01 8.10000000e+01 1.52000000e+02
 1.52000000e+02 3.60000000e+01 3.10000000e+02 1.40000000e+01
 7.15000000e+02 8.00000000e+00 1.04000000e+02 4.10000000e+01
 9.90000000e+01 3.07000000e+02 1.31000000e+02 1.68000000e+02
 1.65000000e+02 3.73000000e+02 3.00000000e+02 6.60000000e+01
 1.25000000e+02 1.47000000e+02 3.10000000e+01 1.73000000e+02
 2.88000000e+02 1.02700000e+03 8.90000000e+01 1.00000000e+00
 6.04000000e+02 3.13000000e+02 5.30000000e+01 1.62000000e+02
 2.76000000e+02 7.20000000e+01 4.40000000e+01 9.00000000e+01
 5.00000000e+01 3.30000000e+01 3.20000000e+01 2.08000000e+02
 9.33000000e+02 1.60000000e+01 4.63000000e+02 3.46000000e+02
 1.05100000e+03 2.51000000e+02 1.62000000e+02 3.43000000e+02
 9.00000000e+00 6.20000000e+01 5.00000000e+00 3.43000000e+02
 4.92000000e+02 6.86000000e+02 6.40000000e+01 2.90000000e+01
 2.60000000e+01 2.00000000e+01 2.30300000e+03 5.78000000e+02
 1.00000000e+00 4.20000000e+01 2.13000000e+02 2.10000000e+01
 3.80000000e+01 6.72000000e+02 1.16700000e+03 1.61000000e+02
 1.00000000e+01 2.25000000e+02 8.10000000e+01 3.40000000e+02
 9.58000000e+02 3.79000000e+02 3.90000000e+01 3.30000000e+01
 3.80000000e+01 1.12000000e+02 1.10000000e+02 1.98000000e+02
 1.12000000e+02 1.20000000e+01 1.80000000e+02 1.28000000e+02
 1.35300000e+03 2.30000000e+01 1.14000000e+03 9.49000000e+02
 3.16000000e+02 2.00000000e+00 2.20000000e+02 9.80000000e+01
 1.60000000e+01 6.87000000e+02 1.03000000e+02 5.33000000e+02
 5.10000000e+01 3.20000000e+01 3.41000000e+02 5.47000000e+02
 8.70000000e+01 8.40000000e+01 1.34000000e+02 2.06000000e+02
 1.30000000e+02 4.60000000e+01 1.80000000e+01 1.18000000e+02
 6.49000000e+02 3.37000000e+02 5.80000000e+01 1.64000000e+02
 1.79000000e+02 6.10000000e+01 1.92000000e+02 2.10000000e+01
 1.58000000e+02 1.81000000e+02 1.14075976e-13 4.02000000e+02
 1.30000000e+01 1.35000000e+02 4.10000000e+02 1.14000000e+02
 1.39000000e+02 1.01000000e+02 1.90000000e+01 8.52000000e+02
 1.37000000e+02 1.14000000e+02 4.50000000e+01 2.76000000e+02
 1.50000000e+01 9.00000000e+00 3.20000000e+01 1.08000000e+02
 7.40000000e+01 2.26000000e+02 1.43600000e+03 3.34000000e+02
 1.14060760e-13 1.04000000e+03 1.35300000e+03 7.70000000e+01
 8.06000000e+02 2.00000000e+02 1.39100000e+03 4.71000000e+02
 1.41971000e+05 6.40000000e+01 2.80700000e+03 4.89000000e+02
 3.41000000e+02 8.00000000e+00 6.80000000e+01 2.30000000e+02
 5.90000000e+01 1.11000000e+02 5.86000000e+02 1.00000000e+00
 3.25000000e+02 3.97000000e+02 2.08000000e+02 5.40000000e+01
 3.90000000e+01 5.93000000e+02 4.34000000e+02 3.11000000e+02
 3.17000000e+02 3.46000000e+02 1.00000000e+01 2.43000000e+02
 6.30000000e+02 1.99000000e+02 1.30000000e+01 1.90000000e+01
 7.30000000e+01 4.10000000e+01 2.48000000e+02 1.47000000e+02
 1.72000000e+02 1.11000000e+02 9.90000000e+01 1.90000000e+01
 1.20000000e+01 1.06000000e+02 4.83000000e+02 2.20000000e+01
 1.13980535e-13 5.72000000e+02 3.10000000e+01 2.84000000e+02
 8.00000000e+00 1.90000000e+02 7.87000000e+02 1.33900000e+03
 3.30000000e+01 5.70000000e+01 4.10000000e+01 5.67000000e+02
 3.00000000e+01 1.59000000e+02 4.20000000e+01 9.22000000e+02
 1.00510000e+04 2.71000000e+02 6.62000000e+02 6.00000000e+01
 8.29000000e+02 8.80000000e+01 7.10000000e+01 1.55000000e+02
 1.80000000e+01 1.50000000e+02 6.42000000e+02 3.19000000e+02
 1.84000000e+02 2.80000000e+03 9.70000000e+01 1.13887862e-13
 1.26000000e+02 2.92000000e+02 6.20000000e+01 8.00000000e+01
 4.10000000e+01 1.50000000e+01 3.70000000e+01 1.14018112e-13
 1.85000000e+02 1.00000000e+01 5.80000000e+01 2.40000000e+01
 1.86000000e+02 1.02000000e+03 1.18000000e+02 1.14000000e+02
 3.43000000e+02 4.04000000e+02 2.40000000e+01 4.70000000e+01
 1.07000000e+02 6.00000000e+01 6.47300000e+03 1.10000000e+02
 9.40000000e+01 3.15000000e+02 1.09900000e+03 1.98500000e+03
 6.60000000e+01 3.50000000e+01 8.30000000e+01 1.13828615e-13
 4.37000000e+02 2.52800000e+03 5.71000000e+02 1.42000000e+02
 7.67000000e+02 6.80000000e+01 7.80000000e+01 5.80000000e+01
 5.90000000e+01 1.94000000e+02 1.16500000e+03 2.42000000e+02
 9.20000000e+01 5.40000000e+01 4.69000000e+02 2.50000000e+01
 1.64000000e+02 4.40000000e+01 8.96000000e+02 6.20000000e+01
 1.23200000e+03 3.60000000e+01 7.70000000e+01 5.41000000e+02
 1.70000000e+01 5.80000000e+01 2.36800000e+03 3.34000000e+02
 1.13686838e-13 1.13686838e-13 1.13686838e-13]

TypeError: ignored

In [0]:
# gives R sqr

lm.score(x,y)

1.0

In [0]:
lm.coef_

array([ 2.30531918e-19,  9.21485110e-15,  3.23864199e-14, -2.77555756e-17,
       -4.23315896e-15, -9.27036226e-15, -9.64506253e-15,  7.50000000e-01,
        2.50000000e-01,  2.50000000e-01,  2.50000000e-01, -2.73682444e-15])

In [0]:
lm.intercept_

1.1368683772161603e-13